@model Entidades.Core.Usuarios

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <input asp-for="CodUsuario" class="form-control" />
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="txt1" class="control-label col-md-2">
                    Rol:
                </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(Model => Model.IdRol,
                             new SelectList(ViewBag.listaRoles, "IdRol", "DesRol"),
                             htmlAttributes: new { @id = "ddlRol", @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
